<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-head">
    <h1>Holy Palace Multipurpose Institute</h1>
    <br>
    <h2>Book Billing System</h2>
  </div>
  <div class="container middle">
    <form action="/auth" method="post">
      <div class="container">
        <label for="uname">UserName</label>
        <input type="text" class="form-control form-control-lg" name="uname" id="uname" required>
      </div>
      <div class="container">
        <label for="pwd">Password</label>
        <input type="password" class="form-control form-control-lg" name="pwd" id="pwd" required>
      </div>
      <h3 class="container">Enter correct username and password</h3>
      <div class="container loginbtn">
        <button type="submit" class="btn btn-block btn-primary btn-lg">Log In</button>
      </div>
    </form>
  </div>

</body>

</html>
