<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-head">
      <h1>Holy Palace Multipurpose Institute</h1>
      <br>
      <h2>Book Billing System</h2>
      <div class="row container">
        <div class="col col-lg-6">
          <h2 class="wel">Welcome <%= name%>!</h2>
        </div>
        <div class="col col-lg-6">
          <a class="btn btn-light btn-lg logoutbtn" href="/logout" role="button">Logout</a>
        </div>
      </div>
    </div>
    <div class="control-middle container">
      <h2>New Student Registered.</h2>
      <p>ID: <%= rid%></p>
      <p>Name: <%= rname%></p>
      <br>
    </div>
    <div class="container loginbtn">
      <a class="btn btn-light btn-lg" href="/dbms" role="button">Go Back</a>
      <a class="btn btn-light btn-lg" href="/control" role="button">Go Home</a>
    </div>
  </body>
</html>
