<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-head">
      <h1>Holy Palace Multipurpose Institute</h1>
      <br>
      <h2>Book Billing System</h2>
      <div class="row container">
        <div class="col col-lg-6">
          <h2 class="wel">Welcome <%= name%>!</h2>
        </div>
        <div class="col col-lg-6">
          <a class="btn btn-light btn-lg logoutbtn" href="/logout" role="button">Logout</a>
        </div>
      </div>
    </div>
    <div class="control-middle container">
      <form action="/uc" method="post">
        <br>
        <label for="class">Choose class:</label>
        <select id="class" name="class" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <br>
        <label for="lang">Choose Language:</label>
        <select id="lang" name="lang" class="form-control">
          <option value="beng">Bengali</option>
          <option value="hin">Hindi</option>
        </select>
        <br>
        <label for="ubc">Enter new Book's Cost</label>
        <input type="text" class="form-control form-control-lg inp" name="ubc" id="ubc" placeholder="Enter new Book's Cost" autofocus required>
        <label for="ucc">Enter new Copies and Cover Cost</label>
        <input type="text" class="form-control form-control-lg inp" name="ucc" id="ucc" placeholder="Enter new Copies and Cover Cost" required>
        <div class="container loginbtn">
          <button type="submit" class="btn btn-block btn-primary btn-lg inp">Update Cost!</button>
        </div>
      </form>
    </div>
    <div class="container loginbtn">
      <a class="btn btn-light btn-lg" href="/dbms" role="button">Go Back</a>
      <a class="btn btn-light btn-lg" href="/control" role="button">Go Home</a>
    </div>
  </body>
</html>
